#game-container {
  display: flex;
  flex-direction: column;
}

#game-title {
  margin: auto;
  font-family: "Potta One", cursive;
}

#game-title > span {
  font-size: 3em;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#main-container {
  width: 595px;
  height: 660px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  margin: auto;
}

#button-container {
  padding-top: 1%;
  padding-left: 1%;
  margin: auto;
}

#player-name {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}

#board {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background-color: #2d6187;
  position: absolute;
}

#dot-container {
  z-index: 10;
}

.dot {
  height: 70px;
  width: 70px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  position: relative;
}
